.small {
    font-size: 85%;
}

article, header {
    dispaly: block;
}

.header {
    margin-top: 24px;
    margin-bottom: 24px;

    @media (max-width: @screen-xs-max) {
        margin-bottom: 12px;
    }

    h1, h2, h3, h4 {
        margin: 0;
    }

    .nav {
        margin: 4px 0;
    }

    .header-social {
        margin-left: 12px;
        color: @text-color;

        &:hover,
        &:active,
        &:active {
            color: @text-color;
        }
    }
}

.article-container {
    margin-bottom: @line-height-computed / 2;

    .article {

        .article-date {
            font-size: @font-size-large;
        }

        .article-above-header {
            h3 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .article-header {
            h2 {
                margin-top: 0;

                a, a:hover, a:active, a:visited {
                    color: @text-color;
                }
            }
        }

        .article-tags-alternative {
            margin-top: 6px;
            margin-bottom: 12px;
        }

        .article-excerpt {
            margin-bottom: @line-height-computed;
            font-size: (@font-size-base * 1.15);
            font-weight: 400;
            line-height: 1.4;

            @media (min-width: 768px) {
              font-size: (@font-size-base * 1.2);
            }
        }

        .article-excerpt a[target="_blank"]:after,
        .article-content a[target="_blank"]:after {
            margin-left: 2px;
            content: @fa-var-external-link;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
            font-size: inherit; // can't have font-size inherit on line above, so need to override
            text-rendering: auto; // optimizelegibility throws things off #1094
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 80%;
        }

        .article-content {
            margin-bottom: 12px;
        }

        .article-author {
            blockquote.author-description {
                h3 {
                    margin-top: 0px;
                    font-size: @font-size-base;
                }
            }
        }

        .article-footer {
            font-size: @font-size-small;
        }

        .article-comments {
            margin-top: 24px;

            blockquote.article-comment {
                h4 {
                    small.article-comment-edit {
                        display: inline;
                    }
                }
            }
        }
    }
}

.page {
    margin-left: 48px;

    .page-footer {
        font-size: @font-size-small;
    }
}

.dead-link {

    h1, h3, h4 {
        margin: 0;
    }

    h1 {
        font-size: floor(@font-size-base * 8);
    }

    h3 {
        font-size: floot(@font-size-base * 3);
    }

    h4 {
        font-size: floor(@font-size-base * 4);
    }
}

.nothing {
    margin-left: 20%;

    h1, h4 {
        margin: 0;
    }

    h1 {
        font-size: floor(@font-size-base * 6);
    }

    h4 {
        font-size: floor(@font-size-base * 3);
    }
}

.sidebar {
    .sidebar-search {
        margin-bottom: 18px;

        form {
            margin-bottom: 0;
        }
    }

    .sidebar-header {
        margin-bottom: 12px;
        margin-left: 12%;

        h4 {
            margin: 0;
        }
    }

    .sidebar-twitter {
        margin-bottom: 18px;
    }

    .sidebar-archives {
        text-align: right;
        float: left;
        width: 40%;
        padding-right: 8px;

        .sidebar-archives-year {

        }
    }

    .sidebar-tags {
        text-align: left;
        float: right;
        width: 60%;
        padding-left: 8px;

        li {
            margin-bottom: 4px;

            a {
                text-decoration: none;

                &:hover, &:active, &:visited, &:link, &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .sidebar-lead {
        font-size: ceil(@font-size-base * 2.6);
    }

    .sidebar-readings {
        margin-bottom: 18px;

        .sidebar-reading-container {
            margin-bottom: 11px;
        }
    }
}

.searching {
    margin-left: 20%;
    margin-bottom: 12px;

    h1,h2 {
        margin: 0;
    }
}

.searching-tag {
    margin-left: 20%;
    margin-bottom: 24px;

    > h1 {
        margin-top: (@line-height-computed / 2);
        margin-bottom: @line-height-computed;
    }
}

.searching-category {
    margin-left: 20%;
    margin-bottom: 24px;

    > h1 {
        margin-top: (@line-height-computed / 2);
        margin-bottom: @line-height-computed;
    }
}

.searching-archive {
    margin-left: 5%;
    margin-bottom: 24px;

    > h1 {
        margin-top: (@line-height-computed / 2);
        margin-bottom: @line-height-computed;
    }
}

.footer {
    margin-top: 24px;
    margin-bottom: 24px;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.comment-form {

    .comment-form-user {
        padding-top: 7px;
    }
}

.author {
    .author-links {
        font-size: floor(@font-size-base * 1.25);
        text-align: right;
        padding: 12px 6px 0 0;
        float: left;
        width: 172px;

        > div {
            margin: 8px 0;
        }

        .fa {
            padding-left: 12px;
            font-size: floor(@font-size-base * 1.5);
            color: @text-color;

            &:hover,
            &:active,
            &:visited {
                color: @text-color;
            }
        }
    }

    .author-biography {
        margin-left: 186px;

        a[target="_blank"]:after {
            margin-left: 2px;
            content: @fa-var-external-link;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
            font-size: inherit; // can't have font-size inherit on line above, so need to override
            text-rendering: auto; // optimizelegibility throws things off #1094
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 80%;
        }

        .author-updates {

            blockquote.author-description {
                p {
                    font-size: @font-size-base;
                }
                small {
                    font-size: @font-size-base;
                }
            }
        }
    }
}

.reading-container {
    min-height: 75px;
    margin-bottom: @line-height-computed / 2;

    .reading {
        
        .reading-above-header {
            h3 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .reading-header {
            h2 {
                margin-top: 0;
            }
        }

        .reading-date {
            font-size: @font-size-large;
        }

        .reading-tags-alternative {
            margin-top: 6px;
            margin-bottom: 12px;
        }

        .reading-reference {
            margin-bottom: (@line-height-computed / 2);
            font-size: (@font-size-base * 1.15);
            font-weight: 500;
            line-height: 1.4;

            @media (min-width: 768px) {
              font-size: (@font-size-base * 1.2);
            }

            .reading-reference-link, .reading-reference-link:hover, .reading-reference-link:active, .reading-reference-link:visited {
                color: @text-color;
            }

            a[target="_blank"]:after {
                margin-left: 2px;
                content: @fa-var-external-link;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
                font-size: inherit; // can't have font-size inherit on line above, so need to override
                text-rendering: auto; // optimizelegibility throws things off #1094
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 80%;
            }
        }

        .reading-comment {
            a[target="_blank"]:after {
                margin-left: 2px;
                content: @fa-var-external-link;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
                font-size: inherit; // can't have font-size inherit on line above, so need to override
                text-rendering: auto; // optimizelegibility throws things off #1094
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 80%;
            }
        }
    }

    .reading-archive {
        .reading-date {
            font-size: @font-size-large;
        }

        .reading-header {
            h2 {
                margin-top: 0;
            }
        }
    }
}

.snippet-container {
    margin-bottom: @line-height-computed / 2;

    .snippet {
        
        .snippet-above-header {
            h3 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .snippet-header {
            h2 {
                margin-top: 0;

                a, a:hover, a:active, a:visited {
                    color: @text-color;
                }
            }  
        }

        .snippet-date {
            font-size: @font-size-large;
        }

        .snippet-tags-alternative {
            margin-top: 6px;
            margin-bottom: 12px;
        }

        .snippet-excerpt {
            margin-bottom: @line-height-computed;
            font-size: (@font-size-base * 1.15);
            font-weight: 400;
            line-height: 1.4;

            @media (min-width: 768px) {
              font-size: (@font-size-base * 1.2);
            }
        }

        .snippet-github a[target="_blank"]:after,
        .snippet-excerpt a[target="_blank"]:after,
        .snippet-code a[target="_blank"]:after {
            margin-left: 2px;
            content: @fa-var-external-link;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
            font-size: inherit; // can't have font-size inherit on line above, so need to override
            text-rendering: auto; // optimizelegibility throws things off #1094
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 80%;
        }
    }
}

.page-projects-container {
    .page-projects-subpage {
        margin-bottom: 12px;

        .page-projects-subpage-navigation {
            margin-bottom: 6px;
        }
    }
}

.subpage-projects-container {
    .subpage-projects-navigation {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .subpage-projects-links {
        margin-bottom: (@line-height-computed / 2);
        padding: 4px;
    }
}

.page-projects-subpage-excerpt {
    margin-bottom: 4px;
    padding: 0px 4px 0px 4px;
}

.section-header {
    h3 {
        color: @text-muted;
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
    }
}

.section-header.section-header-first {
    h3 {
        margin-top: 0px;
    }
}

.note {
    background: @well-bg;
    border-top: 1px solid darken(@well-bg, 7%);
    border-bottom: 1px solid darken(@well-bg, 7%);
    margin-bottom: @line-height-computed*1;
    padding-top: @padding-large-vertical;
    padding-bottom: @padding-large-vertical;

    ul {
        margin-bottom: 0;
    }
}

// Fix for wordpress classes:
body.page {
    margin: 0 !important;
}

.pseudocode {
    list-style-type: none;
    padding-left: 0;

    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 0.925*@font-size-base;

    ul {
        list-style-type: none;
        padding-left: 24px;
        border-left: 1px solid #dddddd;
    }
}

.wp-github-commits,
.wp-github-releases {
    li {
        margin-bottom: 4px;
    }
}

ul {
    list-style-type: square;
}

svg.line-plot {
    border: 1px solid @panel-inner-border;
    width: 415px !important;
}

@media (min-width: @screen-tablet) {
    svg.line-plot {
        width: 415px !important;
    }
}

@media (min-width: @screen-desktop) {
    svg.line-plot {
        width: 515px !important;
    }
}

@media (min-width: @screen-lg-desktop) {
    svg.line-plot {
        width: 625px !important;
    }
}

.reading-list-tag {
    margin-bottom: 6px;
}

.reading-list {
    .reading-list-item {
        .reading-list-item-reference-read {
            text-decoration: line-through;
        }
    }
}

.prettyprint-header {
    margin-bottom: 0px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-bottom: none;
    padding: 8px;
    font-weight: 500;

    code {
        color: @text-color;
        background: transparent;
    }

    &.prettyprint-header-standalone {
        margin-bottom: 22px;
        border-bottom: 1px solid #e1e1e8;
    }
}

.wp-github-commits a:after {
    margin-left: 0px !important;
    content: '' !important;
    font-size: 100%;
}